.addProduct{
    width: 75%;
}
.addProduct h3{
    text-align: center;
}
.formulario{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: auto;
}
.formulario input{
    height: 2rem;
    border-radius: .5rem;
    margin: .5rem;
    border: none;
}
.formulario input[type="submit"]{
    width: 50%;
    height: 2rem;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}
.formulario input[type="submit"]:hover{
    border: thin solid #0077b6;
    color: #0077b6;
    background-color: #FFFFFF;
}
.complete{
    width: 50%;
    height: 2.5rem;
    color: #0077b6;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
    padding: .5rem;
    margin: auto;
    border: thin solid #0077b6;
    border-radius: .5rem;
}